/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header Styles */
.header {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.logo img {
    max-height: 50px; /* Adjust as needed */
}

.company-name {
    color: white; /* Adjust text color for better visibility */
}

/* Navigation Styles */
nav {
	background-color: #333;
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

.nav-link {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

/* Main Content Styles */
main {
    padding: 20px;
}

/* About Us Section Styles */
.about-us {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

/* Customer Reviews Section Styles */
.customer-reviews {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

/* Shop Now Button Styles */
.shop-now-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 20px;
}

/* Footer Styles */
.general-footer {
    background-color: #333;
    padding: 10px;
    margin: 0;
    color: white;
    text-align: center;
}

/* Product List Section Styles */
.product-list {
	background-color: #ddd;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
    margin: 0 auto;
    text-align: center;
}

/* Product Styling */
.product {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 50%; /* Ensure two products per line with spacing */
    text-align: center;

}
/* Product Container Styles */
.product-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.product img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product .price {
    color: #007BFF;
    font-weight: bold;
}

/* Hover Effect */
.product:hover {
    background-color: #ffffff;
}

/* Button Styling */
.product button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

.product button:hover {
    background-color: #45A049;
}


/* Contact Information Section Styles */
.contact-info {
	background-color: #ddd;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

/* Contact Method Styles */
.contact-method {
    background-color: #ddd;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
}

/* Social Media Links Styles */

.contact-method ul li a {
    color: light blue; 
}
/* Social Media Links Hover Effect */
.contact-method ul li a:hover {
    color: #007BFF; 
}

/* Login Form Section Styles */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

/* Form Field Styles */
form label {
    display: block;
    margin: 10px;
}

form input {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}


/* PRODUCTS */

.cart-display {
    background-color: #f9f9f9;
    padding: 0;
    margin-bottom: 0;
}

.cart-title {
    background-color: #ddd;
    text-align: center;
    font-weight: normal;
    padding: 10px 20px;
    margin: 0;
}

.cart-display .cart-item {
    background-color: #ddd;
    padding: 10px 20px;
    margin: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item p {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: black;
    margin-bottom: 10px;
    border: none;
    padding: 10px 0;
    gap: 10px;
}

.remove-from-cart {
    background-color: #848484;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    text-align: center;
    display: inline-block;
    margin-left: 15px;
}

.remove-from-cart:hover {
    background-color: #ff0000;
    color: white;
}

.product button.add-to-cart {
    background-color: #848484;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.product button.add-to-cart:not(:hover) {
    background-color: #848484;
}

.product button.add-to-cart:hover {
    background-color: #4CAF50;
    color: white;
}

.custom-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.custom-alert-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    z-index: 10001;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-alert-message {
    margin-bottom: 20px;
}

.custom-alert-close {
    padding: 5px 10px;
    background-color: #2260C1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.products-footer {
    background-color: #333;
    padding: 10px 0;
    margin: 0;
    color: white;
    text-align: center;
    position: relative;
    width: 100%;
}

/* LOGIN */
.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px); 
    padding: 20px;
}

.login-form {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin: 10px 0; 
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-btn {
    background-color: #4CAF50;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    width: calc(100% - 20px);
    opacity: 0.5;
}

.login-btn:hover {
    background-color: #45A049;
    opacity: 1.0;
}

.signup-link {
    color: #007BFF;
    text-decoration: none;
    margin: 10px 0;
}

.signup-link:hover {
    text-decoration: underline;
}

/* FOOTER */
.general-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
/*SIGNUP*/
/* Signup Form Section */
.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

/* Form Fields */
.signup-form label {
    display: block;
    margin: 10px;
}

.signup-form input[type="text"],
.signup-form input[type="password"],
.signup-form input[type="email"] {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 100%; /* Ensure input fields take up full width */
}

.signup-form input[type="text"]::placeholder,
.signup-form input[type="password"]::placeholder,
.signup-form input[type="email"]::placeholder {
    color: #999; /* Placeholder text color */
}

/* Signup Button */
.signup-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    opacity: 0.5;
    cursor: pointer;
}

.signup-btn:hover {
    background-color: #45A049;
    opacity: 1.0;
}
/* Message Box Container */
#messageBox {
    border: 2px solid #f9f9f9;
    background-color: #f9f9f9;
    padding: 10px;
    margin: 20px;
}


@media (max-width: 600px) {
    header nav {
        flex-direction: column;
    }

    .contact-info {
        margin: 20px;
        max-width: 90%;
    }
}
